<ol class="breadcrumb">
  <li class="breadcrumb-item active">Orders</li>
</ol>
<div class="mt-4">
  <h1>My orders</h1>
  <div class="mt-4">
    <% if (@orders.length > 0) %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Identifier</th>
            <th scope="col">Dish</th>
            <th scope="col">Note</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.reverse.each do |order| %>
            <tr>
              <td scope="row"><%= order.name %></td>
              <td><%= order.slug %></td>
              <td><a href="<%= dish_path(slug: order.dish) %>"><%= order.dish.name %></a></td>
              <td><%= order.note? ? order.note : '-' %></td>
              <td><%= order.quantity %></td>
              <td><%= '%.2f' % order.amount %>€</td>
              <td>
                <% if order.status == Order.statuses[:paid] %>
                  Paid
                <% elsif order.status == Order.statuses[:accepted] %>
                  Accepted
                <% elsif order.status == Order.statuses[:rejected] %>
                  Rejected
                <% else %>
                  Pending
                <% end %>
              </td>
              <td>
                <% if order.status == 0 %>
                  <%= link_to 'Pay', dish_order_pay_url(order.dish, order), class: 'btn btn-primary btn-sm' %>
                  <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                <% else %>
                  <%= link_to 'Show', order, class: 'btn btn-primary btn-sm' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-warning" role="alert">No order found !</div>
    <% end %>
  </div>
</div>