<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
  <li class="breadcrumb-item"><a href="<%= dish_path(@dish) %>"><%= @dish.name %></a></li>
  <li class="breadcrumb-item active">Order #1</li>
</ol>
<div class="mt-4">
  <h1>New Order</h1>
  <div class="d-flex flex-row mt-4">
    <div class="card p-4" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title"><%= @dish.name %></h4>
        <p class="card-text"><%= @dish.description %></p>
        <a href="<%= dish_path(@dish) %>" class="btn btn-primary">See details</a>
      </div>
    </div>
    <div class="ml-5">
    <%= bootstrap_form_for([@dish, @order]) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_area :note, id: :order_note %>
      <%= f.number_field :quantity, id: :order_quantity %>
      <div class="actions">
        <%= f.submit 'Continue', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
