<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
  <li class="breadcrumb-item"><a href="<%= dish_path(@dish) %>"><%= @dish.name %></a></li>
  <li class="breadcrumb-item">Order</li>
  <li class="breadcrumb-item active">Pay</li>
</ol>
<div class="mt-4">
  <h1>My order n°<%= @order.name %></h1>
  <%= form_tag dish_order_pay_path do %> 
    <div class="d-flex flex-row mt-4">
      <div class="card p-4" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title"><%= @dish.name %></h4>
          <p class="card-text"><%= @dish.description %></p>
          <a href="<%= dish_path(@dish) %>" class="btn btn-primary mb-2">See details</a>
          <hr>
          <dl class="row mt-4">
            <dt class="col-sm-5">Cooker</dt>
            <dd class="col-sm-6"><%= @dish.user.first_name %> <%= @dish.user.last_name %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-5">Remaining portions</dt>
            <dd class="col-sm-6"><%= @dish.portions %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-5">Unit price</dt>
            <dd class="col-sm-6"><%= '%.2f' % @dish.price %>€</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-5">Quantity</dt>
            <dd class="col-sm-6"><%= @order.quantity %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-5">Total</dt>
            <dd class="col-sm-6"><%= '%.2f' % @order.amount %>€</dd>
          </dl>
          <% if @order.note != '' %>
            <dl class="row">
              <dt class="col-sm-5">Note</dt>
              <dd class="col-sm-6"><%= @order.note %></dd>
            </dl>
          <% end %>
        </div>
      </div>
      <div class="ml-5">
        <p style="max-width: 500px">
          From credit cards and Apple Pay to 135 currencies, Stripe supports everything businesses need to accept payments on web and mobile.
        </p>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="<%= (@order.amount * 100).to_i %>%"
                data-currency="<%= @currency %>"
                data-email="<%= current_user.email %>"
                data-locale="auto"></script>
      </div>
    </div>
  <% end %>
</div>
 