<h1>Modify your dish</h1>

<%= form_with(model: @dish) do |form| %>

  <% if @dish.errors.any? %>
    <div id="error_explanation">
        <h2>
          Watch out! 😮
          <%= pluralize(@dish.errors.count, "error") %> prevent us from accepting your dish:
        </h2>
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :cover %><br>
      <% unless @dish.cover.url.nil? %>
        <img class="img-fluid" src="<%= @dish.cover.url %>" style="height: 350px; width: 50%; display: block; background-color: grey;" data-holder-rendered="true">
        <%= form.file_field :cover %>
      <% else %>
        <%= form.file_field :cover %>
      <% end %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :ingredients %><br>
    <%= form.text_area :ingredients %>
  </p>

  <p>
    <%= form.label :portions %><br>
    <%= form.number_field :portions %>
  </p>

  <p>
    <%= form.label :delivery_at %><br>
    <%= form.date_select :delivery_at %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', dishes_path %>
