<ol class="breadcrumb">
  <li class="breadcrumb-item">Dishes</li>
</ol>
<div class="mt-4">
  <h1>Available dishes</h1>
  <%= link_to '+ Add a dish', new_dish_path %>
  <div class="card-deck mt-4">
    <% @dishes.each do |dish| %>
      <div class="card" style="max-width: 33%">
        <img class="card-img-top" height="175px" src="<%= dish.cover.url %>" alt="<%= dish.ingredients %>" style="object-fit: cover;">
        <div class="card-body">
          <h4 class="card-title"><%= dish.name %></h4>
          <p class="card-text"><%= dish.description %></p>
          <%= link_to 'See details', dish_path(slug: dish.slug), :class => "btn btn-primary" %>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= dish.portions %> remaining dishes</small>
        </div>
      </div>
    <% end %>
  </div>
</div>