<ol class="breadcrumb">
  <% if (params[:tags]) %>
    <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
    <li class="breadcrumb-item active">Filtered</li>
  <% else %>
    <li class="breadcrumb-item active">Dishes</li>
  <% end %>
</ol>
<div class="mt-4">
  <div class="d-flex">
    <h1>Available dishes</h1>
    <%= link_to '+ Add a dish', new_dish_path, :class => "yumm-link" %>
  </div>
  <hr>
  <div>
    <div class="row">
        <div class="col-sm-6">
            <%= render "tags/list" %>        
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'Today', build_date_url('today'), :class => build_date_class_name('today') %>
          <%= link_to 'Tomorrow', build_date_url('tomorrow'), :class => build_date_class_name('tomorrow') %>    
          <%= link_to 'Week', build_date_url('week'), :class => build_date_class_name('week') %>  
        </div>   
    </div>           
  </div>
  <hr>
  <div class="card-deck mt-4">
    <% @dishes.each do |dish| %>
    <div class="col-sm-4">
      <div class="card" style="margin-bottom: 3rem;">
        <img class="card-img-top" height="175px" src="<%= dish.cover.url %>" alt="<%= dish.ingredients %>" style="object-fit: cover;">
        <div class="card-body">
          <h4 class="card-title"><%= dish.name %></h4>
          <p class="card-text"><%= dish.description %></p>
          <% if dish.user.id == current_user.id %>
            <%= link_to 'Show', dish_path(slug: dish.slug), :class => "btn btn-primary" %>
            <%= link_to 'Edit', edit_dish_path(slug: dish.slug), :class => "btn btn-warning" %>
          <%else%>
            <%= link_to 'See details', dish_path(slug: dish.slug), :class => "btn btn-primary" %>
          <%end%>
        </div>
        <div class="card-footer">
          <% if dish.portions === 0 %>
            <small class="text-muted">Sold out</small>
          <%else%>
            <small class="text-muted"><%= dish.portions %> remaining dishes</small>
          <%end%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
