<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
  <li class="breadcrumb-item active"><%= @dish.name %></li>
</ol>
<div class="mt-4">
  <h1><%= @dish.name %></h1>
  <hr>
  <%= link_to 'Order now !', new_dish_order_url(@dish.id), class: 'btn btn-primary ml-auto p-2' %>
  <hr>
  <img class="img-fluid" style="height: 350px; width: 100%; display: block; background-color: grey;" data-holder-rendered="true">
  <dl class="row mt-5">
    <dt class="col-sm-3">Cooker ID</dt>
    <dd class="col-sm-9"><%= @dish.user_id %></dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9"><%= @dish.description %></dd>
    <dt class="col-sm-3">Ingredients</dt>
    <dd class="col-sm-9"><%= @dish.ingredients %></dd>
    <dt class="col-sm-3">Delivery at</dt>
    <dd class="col-sm-9"><%= @dish.delivery_at %></dd>
    <dt class="col-sm-3">Remaining portions</dt>
    <dd class="col-sm-9"><%= @dish.portions %></dd>
  </dl>
</div>