
<%= link_to '↩ Dishes list', dishes_path %>
<p>
  <strong>Dish name:</strong>
  <%= @dish.name %>
</p>
  
<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @dish.ingredients %>
</p>

<p>
  <strong>Delivery at:</strong>
  <%= @dish.delivery_at %>
</p>

<p>
  <strong>Remaining portions:</strong>
  <%= @dish.portions %>
</p>

<p>
    <strong>Tags:</strong>
    <%= raw tag_links(@dish.all_tags) %>
  </p>


