<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
  <li class="breadcrumb-item active"><%= @dish.name %></li>
</ol>
<div class="mt-4">
  <h1><%= @dish.name %></h1>
  <hr>
  <div class="d-flex justify-content-end">
    <%= link_to 'Order now !', new_dish_order_url(@dish.id), class: 'btn btn-primary mr-auto p-2' %>
    <% if @dish.user.id == @userId %>
      <%= link_to 'Edit', edit_dish_path(@dish), class: 'btn btn-primary p-2' %>
      <%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2 p-2' %>
    <% end %>
  </div>
  <hr>
  <img class="img-fluid" style="height: 350px; width: 100%; display: block; background-color: grey;" data-holder-rendered="true">
  <dl class="row mt-5">
    <dt class="col-sm-3">Cooker</dt>
    <dd class="col-sm-9"><%= @dish.user.first_name %><%= @dish.user.last_name %></dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9"><%= @dish.description %></dd>
    <dt class="col-sm-3">Ingredients</dt>
    <dd class="col-sm-9"><%= @dish.ingredients %></dd>
    <dt class="col-sm-3">Delivery at</dt>
    <dd class="col-sm-9"><%= @dish.delivery_at %></dd>
    <dt class="col-sm-3">Remaining portions</dt>
    <dd class="col-sm-9"><%= @dish.portions %></dd>
  </dl>
  <hr>
</div>