<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<%= dishes_path %>">Dishes</a></li>
  <li class="breadcrumb-item active"><%= @dish.name %></li>
</ol>
<div class="mt-4">
  <h1><%= @dish.name %></h1>
  <hr>
  <div class="d-flex justify-content-end">
    <% if @dish.portions > 0 %>
      <%= link_to 'Order now !', new_dish_order_url(@dish.slug), class: 'btn btn-primary mr-auto p-2' %>
    <% else %>
      <button type="button" class="btn btn-primary mr-auto p-2 disabled" disabled>Sold out !</button>
    <% end %>
    <% if @dish.user.id == current_user.id %>
      <%= link_to 'Edit', edit_dish_path(slug: @dish.slug), class: 'btn btn-warning p-2' %>
      <%= link_to 'Destroy', @dish.slug, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2 p-2' %>
    <% end %>
  </div>
  <hr>
  <img class="img-fluid" style="height: 700px; width: 100%; display: block; background-color: grey; background: url(<%= @dish.cover.url %>) no-repeat center fixed; background-size: cover" data-holder-rendered="true">
  <div class="card mt-4">
    <h4 class="card-header">Details</h4>
    <div class="card-body">
      <dt class="col-sm-3">Cooker</dt>
      <dd class="col-sm-9"><%= @dish.user.first_name %> <%= @dish.user.last_name %></dd>
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9"><%= @dish.description %></dd>
      <dt class="col-sm-3">Ingredients</dt>
      <dd class="col-sm-9"><%= @dish.ingredients %></dd>
      <dt class="col-sm-3">Delivery at</dt>
      <dd class="col-sm-9"><%= @dish.delivery_at %></dd>
      <dt class="col-sm-3">Remaining portions</dt>
      <dd class="col-sm-9"><%= @dish.portions %></dd>
      <dt class="col-sm-3">Price</dt>
      <dd class="col-sm-9"><%= '%.2f' % @dish.price %>€</dd>
      <dt class="col-sm-3">Tags</dt>
      <dd class="col-sm-9">
        <% if (@dish.tags.length > 0) %>
          <ul>
            <% @dish.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        <% else %>
          No tag linked
        <% end %>
      </dd>
    </div>
  </div>
  <% if @dish.user.id == current_user.id %>
    <div class="card mt-4">
      <h4 class="card-header">Orders</h4>
      <div class="card-body">
        <% if (@dish.orders.length > 0) %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Identifier</th>
                <th scope="col">User</th>
                <th scope="col">Note</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody> 
              <% @dish.orders.each do |order| %>
                <tr>
                  <td scope="row"><%= order.name %></td>
                  <td><%= order.slug %></td>
                  <td><%= order.user.first_name %> <%= order.user.last_name %></td>
                  <td><%= order.note %></td>
                  <td><%= order.quantity %></td>
                  <td><%= '%.2f' % (order.amount / 100.to_f) %>€</td>
                  <td>
                    <%= link_to 'Accepter', @dish.slug, method: :delete, class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Refuser', @dish.slug, method: :delete, data: { confirm: 'Refuser' }, class: 'btn btn-danger btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          No order found !
        <% end %>
      </div>
    </div>
  <% end %>
</div>
